<footer id="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="footer-heading">Company</div>
          <ul style="list-style: none; padding: 0;">
            <div class="footer-content">
              <li>ABN: 73 616 579 027</li>
              <li>About</li>
            </div>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="footer-heading">Services</div>
          <ul style="list-style: none; padding: 0;">
            <div class="footer-content">
              <li>Wall Steel Fixing</li>
              <li>Columns, stairs and footings</li>
              <li>Ground and suspended slabs</li>
              <li>Building foundations</li>
              <li>Commercial building services</li>
              <li>Steel fixing reinforcements</li>
            </div>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="footer-heading">Contact</div>
          <ul style="list-style: none; padding: 0;">
            <div class="footer-content">
              <li>Call
                <span style="float: right">
                  <a href="tel: +61450750610">0450-750-610</a>
                  <span style="color: grey">|</span>
                  <a href="tel: +61415526726">0415-526-726</a>
                </span>
              </li>
              <li>Email
                <span style="float: right">
                  <a href="mailto:enquiries@rocksteelgroup.com.au">enquiries@rocksteelgroup.com.au</a>
                </span>
              </li>
            </div>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="text-center footer-note">
        ©&nbsp;Rock Steel Group Pty Ltd 2017 | Developed by
        <a href="https://shayme21.github.io/me">Shayan Memari</a>
      </div>
    </div>
  </div>
</footer>
