<footer id="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="footer-heading">Company</div>
          <ul style="list-style: none; padding: 0;">
            <div class="footer-content">
              <li>About</li>
              <li>ABN: 73 616 579 027</li>
            </div>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="footer-heading">Services</div>
          <ul style="list-style: none; padding: 0;">
            <div class="footer-content">
              <li>Gates & Fences</li>
              <li>Staircases</li>
              <li>...</li>
              <li>...</li>
            </div>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="footer-heading">Contact</div>
          <ul style="list-style: none; padding: 0;">
            <div class="footer-content">
              <li>Call Us<span style="float: right"><a href="tel: +61450750610">(+61)&nbsp;450-750-610</a></span></li>
              <li>Email Us<span style="float: right"><a href="mailto:memshayan@gmail.com">rock.s.group2020@gmail.com</a></span></li>
            </div>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="text-center footer-note">
        ©&nbsp;Rock Steel Group Pty Ltd 2017 | Developed by <a href="https://shayme21.github.io/me">Shayan Memari</a>
      </div>
    </div>
  </div>
</footer>
