<div class="container-fluid">
  <div id="aboutTab" class="row">
    About Us
  </div>
  <div class="row text-center" id="aboutUsPicture">
    <img src="../../assets/images/aboutUs.jpg" alt="About Us">
  </div>
  <div id="aboutus" class="row">
    <div id="aboutText" style="text-align: center">
      Rock Steel Group is a name you can trust when it comes to commercial construction projects and steel fixing reinforcement. We
      offer the services of the most qualified and professional steel fixers in all of Sydney to ensure durability and optimal functionality.
      We guarantee that our steel fixing and reinforcement services will give your building project strength and structural
      integrity unlike any other. With over 20 years of experience in the business, you can rest assured you are in safe hands with us.
    </div>
  </div>
</div>
