<div id="aboutTab">
  <h2>About us</h2>
</div>
<div class="text-center">
  <img src="../../assets/images/RockSteelGroup_aboutUs.jpg" alt="About Us" id="aboutUsPicture" class="img-responsive">
</div> 
<div id="aboutus">
  <div id="aboutText">
    Rock Steel Group is a name you can trust when it comes to steel fixing reinforcement. We guarantee that our steel fixing
    and reinforcement services will give your project strength and structural integrity unlike any other. We are highly committed
    to out work and customer satisfaction, you can rest assured you are in safe hands with us.
  </div>
</div>
