<div id="aboutTab">
  <h2>About us</h2>
</div>
<div class="text-center" class="row">
  <div class="col"><img src="assets/images/RockSteelGroup_aboutUs.jpg" alt="About Us" class="aboutUsPicture" class="img-responsive"></div>
  <div class="col"><img src="assets/images/RockSteelGroup_aboutUs2.jpg" alt="About Us" class="aboutUsPicture" class="img-responsive"></div>
</div>
<div id="aboutus">
  <div id="aboutText">
    Rock Steel Group is a name you can trust when it comes to formwork, steel fixing reinforcement and concreting. We guarrantee that our services will give your project strength and structural integrity unlike any other. We are highly committed
    to our work and customer satisfaction is the priority, you can rest assured you are in safe hands with us.
  </div>
</div>
