/**
 * HEADER
 */

#header-main {
  background-color: rgba(45, 45, 51, 0.86);
  position: relative;
}

.header-content {
  color: #FCFCFC;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  letter-spacing: 2px;
  padding: 0.5em;
}

.header-content-item,
.header-content-aussie {
  text-align: center;
}


/* Tablet and Desktop */

@media all and (min-width: 768px) {
  .header-content {
    flex-direction: row;
    letter-spacing: 0;
    padding: 1em;
  }
  .header-content-item {
    flex: 1 0 25%;
    text-align: right;
    padding-right: 1em;
  }
  .header-content-aussie {
    flex: 1 0 50%;
    text-align: left;
  }
}

a {
  color: #6FE98D;
}

a:visited {
  color: #478F58;
}


/**********************************
Responsive navbar-brand image CSS
- Remove navbar-brand padding for firefox bug workaround
- add 100% height and width auto ... similar to how bootstrap img-responsive class works
***********************************/

.navbar {
  margin-bottom: 10px;
}

.navbar-default {
  background-color: #FCA311;
}

.navbar-default .navbar-toggle {
  background-color: #FCA311;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgba(229, 229, 229, 0);
}

.navbar-default .navbar-nav>li>a {
  color: #14213D;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

#menu-bar ul>li {
  line-height: 80px; /* = height of #menu */
  padding-bottom: 0;
  padding-top: 0;
}

#menu-bar ul>li:hover {
  color: #14213D;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms linear;
  box-shadow: inset 0 -4px 2px -2px rgba(0,0,0,0.75);
}

#menu-bar ul>li.active {
  font-weight: bold;
}

@media only screen and (max-width: 320px) {
  .navbar-brand {
    padding: 10px;
  }
  .header-content {
    font-size: 0.8em;
  }
}


/* MAIN NAVBAR
line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */

.main-navbar .navbar-brand {
  height: 80px;
}

.main-navbar .nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-navbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}


/* CSS Transform Align Navbar Brand Text ... This could also be achieved with table / table-cells */

.navbar-alignit .navbar-header {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}

.navbar-alignit .navbar-brand {
  top: 50%;
  display: block;
  position: relative;
  height: auto;
  transform: translate(0, -50%);
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
  z-index: 9999;
}
