<div id="header-main">
  <div class="header-content">

    <div class="header-content-item header-content-aussie">100% Australian owned.</div>

    <div class="header-content-item">
      <i class="glyphicon glyphicon-phone-alt"></i>&nbsp;
      <a href="tel: +61450750610">0450-750-610</a>
    </div>

  </div>
</div>
<div class="main-navbar">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-bar" (click)="toggleState()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.rocksteelgroup.com.au">
          <img src="assets/images/RockSteelLogo.png" border="0" alt="Rock Steel Group Logo" title="Rock Steel Group">
        </a>
      </div>
      <div id="menu-bar" class="navbar-collapse collapse" [ngClass]="{ 'in': isIn }">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a (click)="navigateTo('#contact-form')">CONTACT US</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
