#portfolio {
  text-align: left;
  margin-bottom: 15px;
  border-bottom: 1px solid #9e9e9e;  
}

#thumbnailsList {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

#thumbnailsList>li {
  display: inline;
}

#thumbnailsList>li>img {
  width: 28%;
}

.tn {
  margin: 6px;
  border: 4px solid #eee;
  box-shadow: #555 1px 1px 8px 1px;
}

.btn-filter {
  background-color: #FCA311;
}

.btn.active {
  outline: 2px solid rgba(0, 0, 0, 0.70);
  outline-offset: -2px;
} 

.btn:focus {
}