<div id="portfolio">
  <h2>Our work</h2>
</div>
<div style="text-align: center">
  <div>
    <button class="btn btn-sm btn-filter" [class.active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-sm btn-filter" [class.active]="filterBy=='residential'" (click)="filterBy='residential'">Residential</button>
    <button class="btn btn-sm btn-filter" [class.active]="filterBy=='commercial'" (click)="filterBy='commercial'">Commercial</button>
    <button class="btn btn-sm btn-filter" [class.active]="filterBy=='others'" (click)="filterBy='others'">Others</button>
  </div>

  <ul id="thumbnailsList" class="text-center">
    <li *ngFor="let image of (visibleImages | filterGallery:filterBy)">
      <img src="{{ image.url }}" alt="{{ image.title }}" class="tn" title="Rock Steel Group">
    </li>
  </ul>
</div>
