h1 {
  color: #369;
}

#header-main {
  background-color: rgba(45, 45, 51, 0.86);
  position: relative;
  width: 100%;
  min-height: 40px;
  line-height: 2.5;
}

.header-content {
  color: #FCFCFC;
  font-family: 'Open Sans', sans-serif;
}

.header-content-left {
  float: left;
  position: relative;
  margin-left: 40px;
}

.header-content-right {
  float: right;
  position: relative;
  margin-right: 40px;
}

a {
  color: #6FE98D;
}

a:visited {
  color: #478F58;
}



