<div id="header-main">
  <div class="header-content">
    <div class="header-content-left">100% Australian owned.</div>
    <div class="header-content-right">Call Now <i class="glyphicon glyphicon-phone-alt"></i>&nbsp;<a href="tel: 0298768381">02&nbsp;9876-8381</a></div>
  </div>
</div>

<app-menu></app-menu>
<router-outlet></router-outlet>


<footer id="footer-wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <h4>Company</h4>
          <ul style="list-style: none; padding: 0;">
            <li>Profile</li>
            <li>Projects</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Services</h4>
          <ul style="list-style: none; padding: 0;">
            <li>Steel 1</li>
            <li>Steel 2</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <ul style="list-style: none; padding: 0;">
            <li>Call Us<span style="float: right"><a href="tel: 0298768381">02&nbsp;9876-8381</a></span></li>
            <li>Email Us<span style="float: right"><a href="mailto:memshayan@gmail.com">memshayan@gmail.com</a></span></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="text-center footer-note">
        ©&nbsp;Rock Steel 2017 | Developed by <a href="https://shayme21.github.io/me">Shayan Memari</a>
      </div>
    </div>
  </div>
</footer>
