#servicesTab {
  text-align: left;
  margin-bottom: 15px;
  border-bottom: 1px solid #9e9e9e;
}

.services {
  /* background-color: antiquewhite; */
  padding: 1em;
}

.serviceBlock {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  min-height: 45px;
  line-height: 45px;  
}

.serviceBlockHeader {
  font-size: 1.3em;
  font-weight: 800;
  text-align: left;
}

.glyphicon-ok:before{
  padding: 0.5em;
  color: rgb(32, 209, 32);
}
