<div class="container-fluid">
  <div id="services" class="row">
    Here are the services we offer
  </div>

  <div style="text-align: center" class="row">
    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        Fencing
      </div>
      <div class="servicesBlockContent">
        We do this well.
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        Gates
      </div>
      <div class="servicesBlockContent">
        We do this well.
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        Floors
      </div>
      <div class="servicesBlockContent">
        We do this well.
      </div>
    </div>

  </div>

  <div style="text-align: center" class="row">
    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        Stairs
      </div>
      <div class="servicesBlockContent">
        We do this well.
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        Ceilings
      </div>
      <div class="servicesBlockContent">
        We do this well.
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        Pools
      </div>
      <div class="servicesBlockContent">
        We do this well.
      </div>
    </div>

  </div>
</div>
