<div id="servicesTab" class="row">
  <h2>Our Services</h2>
</div>

<div class="row services text-center">

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Formwork
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Wall Steel Fixing
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Concreting
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Columns, stairs and footings
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Ground & suspended slabs
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Building foundations
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Commercial building services
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

  <div class="serviceBlock">
    <div class="serviceBlockHeader">
      <i class="glyphicon glyphicon-ok"></i>
      Steel fixing reinforcements
    </div>
    <div class="servicesBlockContent">
    </div>
  </div>

</div>
