<div class="container-fluid">
  <div id="servicesTab" class="row">
    Here are the services we offer
  </div>

  <div style="text-align: center" class="row services">
    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        <i class="glyphicon glyphicon-ok" style="color: rgb(83, 255, 83);"></i>
        Wall Steel Fixing
      </div>
      <div class="servicesBlockContent">
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        <i class="glyphicon glyphicon-ok" style="color: rgb(83, 255, 83);"></i>
        Columns, stairs and footings
      </div>
      <div class="servicesBlockContent">
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        <i class="glyphicon glyphicon-ok" style="color: rgb(83, 255, 83);"></i>
        Ground and suspended slabs
      </div>
      <div class="servicesBlockContent">
      </div>
    </div>
  </div>

  <div style="text-align: center" class="row services">
    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        <i class="glyphicon glyphicon-ok" style="color: rgb(83, 255, 83);"></i>
        Building foundations
      </div>
      <div class="servicesBlockContent">
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        <i class="glyphicon glyphicon-ok" style="color: rgb(83, 255, 83);"></i>
        Commercial building services
      </div>
      <div class="servicesBlockContent">
      </div>
    </div>

    <div class="col-md-4 serviceBlock">
      <div class="serviceBlockHeader">
        <i class="glyphicon glyphicon-ok" style="color: rgb(83, 255, 83);"></i>
        Steel fixing reinforcements
      </div>
      <div class="servicesBlockContent">
      </div>
    </div>

  </div>
</div>
